.venv/
VOICE_GENERATOR/.venv/
LIPSYNC/.venv/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.cache/
.vscode/
VOICE_GENERATOR/piper-phonemize/
VOICE_GENERATOR/piper-phonemize_windows_amd64.zip
VOICE_GENERATOR/Voices/
*.onnx
*.onnx.json
config.json
CLEAN_AVATARS/
